.productPage-container {
    max-width: 925px;
    max-height: 1328px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--ten-percent-color);
    margin-bottom: 20px;
    overflow: hidden;
}

.productPage-body {
    display: flex;
    column-gap: 20px;
}