.App {
    position: relative;
}

.modalBox {
    width: 600px;
    min-width: 450px;
    height: auto;
    min-height: 400px;
    padding: 30px;
    border-radius: 62px;
    border: 1px solid var(--ten-percent-color);
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50% - 300px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    position: fixed;
}

.modalBox h1 {
    font-family: integral, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
}

.modalBox a {
    color: var(--secondary-color);
}

.modalBox button {
    width: 374px;
    height: 48px;
    background-color: black;
    color: #fff;
    border-radius: 62px;
}

.modalBox button {
    transition: all 0.3s ease-out;
}

.modalBox button:hover {
    box-shadow: 0px 5px 5px red;
}

.modalBox button:active {
    box-shadow: none;
}



.modalBox input {

    padding: 12px 0 14px 52px;
    width: 374px;
    border-radius: 62px;
    background-color: var(--bg-color);
}

.modalBox input::placeholder {
    color: var(--secondary-color);
}

.echo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    z-index: 2;
}


.login__container {
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
}

.login--reg {
    color: black !important;
    font-size: 24px;
}

.isRegMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.add_productBtn-text {
    display: inline-block;
    background-color: black;
    padding: 20px 100px;
    color: #fff !important;
    border-radius: 62px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.youNeedLogin {
    font-size: 24px;
    color: #000 !important;
}