.footer {
    height: 589px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer__container {
    background-color: var(--bg-color);
    min-height: 499px;
    position: relative;
}

.footer__black {
    width: 1240px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}


.footer__black-title {
    max-width: 551px;
    font-family: integral, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 47px;
    padding: 43px 0;
}

/* Форма подписки */

.footer__black-form {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 36px 0;
}

.footer__black-input-container {
    position: relative;
}

.footer__black-input-img {
    position: absolute;
    top: 12px;
    left: 16px;
}


.footer__black-input {
    width: 349px;
    padding: 12px 52px 14px 52px;
    background-color: var(--bg-color);
    border-radius: 62px;
}

.footer__black-btn {
    display: inline-block;
    font-family: satoshi-medium;
    color: #000;
    padding: 12px 88.5px;
    background-color: var(--bg-color);
    border-radius: 62px;
}


.footer__row {
    padding: 140px 0 180px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--ten-percent-color);
    margin-bottom: 20px;
}

.foooter__info {
    width: 248px;
    font-size: 14px;
    line-height: 22px;
}

.footer__logo {
    margin-bottom: 23px;
}

.footer__info-text {
    margin-bottom: 35px;
}


/* Общий титул */
.footer__info-title {
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 3px;
}


.footer__info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__info-column ul {
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__info-column a {
    line-height: 19px;
    color: var(--secondary-color);
}

/* Нижний блок */

.footer__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rights {
    font-size: 14px;
    color: var(--secondary-color);
}


.footer__pay {
    display: flex;
    align-items: center;
    column-gap: 20px
}

.footer__pay-logo a {
    width: 46px;
    height: 30px;
    background-color: #fff;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
