.card {
    position: relative;
    width: 295px;
    height: 408px;
    flex-shrink: 0;
}
.card__img {
    display: inline-block;
    width: 295px;
    height: 298px;
}

.card:hover .card__img {
    opacity: 0.8;
    cursor: pointer;
}

.card__link {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__img {
    border-radius: 20px;
    margin-bottom: 16px;
}

.card__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.card__title {
    font-family: satoshi-bold;
    font-size: 20px;
}

.card__rating {
    display: inline-flex;
    column-gap: 13px;
    align-items: center;
}

.card__rating span {
    color: var(--secondary-color);
}

.card__price {
    font-family: satoshi-bold;
    font-size: 24px;
}